html {
  --zoom: 120;
  --black: #000;
  --white: #fff;
  --grey: grey;
  --bg: #202020;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

:root {
  --unit: 1vmin;
  --available-screen-min: 665;
  --px: calc(var(--zoom) * (var(--unit) / var(--available-screen-min)));
}

body {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: transparent;
  z-index: 10; /* Ensure it’s below the content but above the stars */
}

.moon {
  background-color: var(--grey);
  height: calc(200 * var(--px));
  width: calc(200 * var(--px));
  border-radius: 50%;
  box-shadow: 0px 0px calc(70 * var(--px)) calc(5 * var(--px)) #fff;
  background-image: url("pad.jpg");
  background-size: calc(430 * var(--px));
  background-position: left;
  background-repeat: no-repeat;
  animation: spinBackground 20s linear infinite;
  z-index: 11; /* Moon stays below the content */
}

@keyframes spinBackground {
  to {
      background-position: right;
  }
}
